<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crs.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.widget.MainActivity"></activity>
        <activity android:name="com.crs.demo.ui.widget.LuoActivity"></activity>
        <activity android:name=".ui.handler.HandleActivity"></activity>
        <activity android:name=".ui.widget.TimeCountActivity"></activity>
        <activity android:name=".ui.widget.LinkedListActivity"></activity>
        <activity android:name=".ui.widget.TestCustomViewActivity"></activity>
        <activity android:name=".ui.widget.TestAdapterActivity"></activity>
        <activity android:name=".ui.widget.TestRecyclerViewActivity"></activity>
        <activity android:name=".ui.widget.LunBanImageActivity"></activity>
        <activity
            android:name=".ui.mvp.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.afinal.TestNetWorkActivity"></activity>
        <activity android:name=".ui.rxandroid.RxDownLoadImgActivity"></activity>
        <activity android:name=".ui.okhttp.OKHttpActivity"></activity>
        <activity android:name=".ui.retrofit2.Retrofit2Activity">
        </activity>

        <activity android:name=".ui.handler.TestHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
